<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>League Model</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.css" integrity="sha512-TD/aL30dNLN0VaHVoh9voFlNi7ZuWQYtV4bkIJv2ulZ8mEEkZJ7IyGvDthMKvIUwzLmPONnjQlAi55HTERVXpw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
    <div class="container">
        <nav class = "navbar navbar-dark bg-primary" style = "margin-top: 20px;">
            <form class="form-inline my-2 my-lg-0">
                <a class="from-inline navbar-text" href = "#" style="border-radius: 5px; background-color: white; font-size: medium;">Home</a>
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="margin-top: 8px; margin-left: 770px;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-top: 8px; background-color: rgb(30, 158, 218);">Search</button>
            </form>
        </nav>
    </div>
</body>

</html>